body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns:1fr 3.7fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "side header"
                "side main";
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    grid-area: side;
    background-color: rgb(50, 163, 233);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 20px;
}
li {
    color: white;
}
h2{
    color: white;
    font-size: clamp(30px, 5vw, 50px);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: white;
    padding: 20px;
    margin-right: 30px;
}
.logo > .material-icons{
    font-size: clamp(40px, 6vw, 60px);
}
.material-icons{
    font-size: clamp(20px, 4vw, 34px);
    margin-right: 16px;
    padding-left: 10px;
}
.main-navigation {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: clamp(30px, 3.6vw, 32px);
    font-weight: 500;
    padding: 10px 0;
}
.top{
    grid-area: header;
}
.content{
    grid-area: main;
    background-color: #E9EEF2;

}

.dot {
height: 56px;
width: 56px;
min-width: 56px;
background-color: orange;
border-radius: 50%;
display: inline-block;
}
h4 {
    display: inline-block;
    margin-left: 10px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-right: 50px;
}
.search-part{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    min-width: 0;
}

input[type="text"]{
    width: 50%;
    padding: 10px;
    /* border: none; */
    border-radius: 20px;
    font-size: clamp(16px, 2vw, 24px);
    margin-right: auto;
    background-color:#E9EEF2 ;
    height: 20px;
    flex-shrink: 3;
    min-width: 0;
}
.header {
    display: flex;
    padding: 40px 0px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: baseline;
    

}
.header > .dot {
    margin-left: 40px;
    height: 70px;
    width: 70px;
    min-width: 70px;

}
#user >p {
    font-weight: 600;
    font-size: 18px;
    margin: auto 5px;
}
#user {
    margin-right:  auto;
    display: flex;
    flex-direction: column;
    min-width: 393px
}

p#morgan {
    font-weight: bold;
    font-size: 30px;
}
.top {
    box-shadow: 10px 0px 5px red;
}
/* .buttons {
    display: flex;
    gap: 40px;
    margin-left: 24px;
    margin-top: 20px;

} */
 button {
    height: 48px;
    width: 140px;
    border-radius: 20px;
    border: none;
    background-color: rgb(50, 163, 233);
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: auto 40px;
}
