body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "side header"
                "side main";
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    grid-area: side;
    background-color: rgb(50, 163, 233);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 20px;
}
li {
    color: white;
}
h2{
    color: white;
    font-size: clamp(30px, 5vw, 50px);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: white;
    padding: 20px;
    margin-right: 30px;
    padding-top: 0px;
}
.logo > .material-icons{
    font-size: clamp(40px, 6vw, 60px);
}
.material-icons{
    font-size: clamp(20px, 4vw, 34px);
    margin-right: 16px;
    padding-left: 10px;
}
.main-navigation {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: clamp(30px, 3.6vw, 32px);
    font-weight: 500;
    padding: 10px 0;
}
.menu-item:hover{
    background-color: rgb(30, 123, 193);
    cursor: pointer;
    border-radius: 10px;
}
.top{
    grid-area: header;
}
.content{
    grid-area: main;
    background-color: #e2e8ee;

}


.dot {
height: 56px;
width: 56px;
min-width: 56px;
background-color: orange;
border-radius: 50%;
display: inline-block;
}
h4 {
    display: inline-block;
    margin-left: 10px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-right: 50px;
}
.search-part{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 24px 20px;
    min-width: 0;

}

input[type="text"]{
    width: 50%;
    padding: 10px;
    /* border: none; */
    border-radius: 20px;
    font-size: clamp(16px, 2vw, 24px);
    margin-right: auto;
    background-color:#E9EEF2 ;
    height: 20px;
    flex-shrink: 3;
    min-width: 0;
}
.header {
    display: flex;
    padding: 40px 0px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: baseline;
    

}
.header > .dot {
    margin-left: 50px;
    height: 80px;
    width: 80px;
    min-width: 70px;

}
#user >p {
    font-weight: 600;
    font-size: 18px;
    margin: auto 5px;
}
#user {
    margin-right:  auto;
    display: flex;
    flex-direction: column;
    min-width: 393px
}

p#morgan {
    font-weight: bold;
    font-size: 30px;
}
/* .top {
    box-shadow: 10px 0px 5px red;
} */
/* .buttons {
    display: flex;
    gap: 40px;
    margin-left: 24px;
    margin-top: 20px;

} */
 button {
    height: 44px;
    width: 130px;
    border-radius: 20px;
    border: none;
    background-color: rgb(50, 163, 233);
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: auto 40px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(30, 123, 193);
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    grid-template-areas: "projects right-part";
                         
    
}

.card {
    flex: 1 1 330px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 250px;
    position: relative;
    min-width: 195px;
}
.card:hover{
    background-color: #c09c9cab;
    cursor: pointer;
}

.card p {
    opacity: 0.7;
    margin: 0px;
}
.card h4 {
    margin: 0px;
    padding: 15px;
    padding-left: 0px;
}
.card-icons {
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    gap: 15px;
}
.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    
}
.right-part {
    grid-area: right-part;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: baseline;
}

.trending h3#title{
    margin-left: 0px;
    font-size: clamp(20px, 3.2vw, 26px);
    
}
.card-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
#title {
    margin-left: 20px;
    font-size: clamp(20px, 3.2vw, 26px);
}
.announcements .items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    gap: 25px;
    width: fit-content;
    padding: 28px;
    background-color: white;
    
}
.announcements h3#title{
    margin-left: 0px;
    font-size: clamp(20px, 3.2vw, 26px);
}
.announcements h4 {
    margin: 10px;
    margin-left: 0px;
    font-size: 20px;
}
.announcements p {
    margin: 0px;
    opacity: 0.7;
}
.announcements{
    display: flex;
    flex-direction: column;
}
.item {
    width: 40ch;
}

.dot1{
    height: 56px;
    width: 56px;
    min-width: 56px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}
.dot2{
    height: 56px;
    width: 56px;
    min-width: 56px;
    background-color: rgb(53, 202, 145);
    border-radius: 50%;
    display: inline-block;
}
.dot3{
    height: 56px;
    width: 56px;
    min-width: 56px;
    background-color: rgb(136, 134, 130);
    border-radius: 50%;
    display: inline-block;
}
.dot4{
    height: 56px;
    width: 56px;
    min-width: 56px;
    background-color: rgb(214, 98, 199);
    border-radius: 50%;
    display: inline-block;
    }
.trending .items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: fit-content;
    padding: 28px;
    background-color: white;
}
.trending .item{
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 4px;
}
.trending .item:hover{
    background-color: #c09c9cab;
    cursor: pointer;
    border-radius: 10px;
}
.trending .item .text p{
    margin: 8px;
    opacity: 0.7;
}
#tag {
    font-weight: bold;
    opacity: 1;
}